@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-width: 1072.16px;
  --board-height: 840.44px;
  --app-bar-height: 3.8rem;
  --footer-height: 3.8rem;
  --content-margin: 1rem;
  --content-max-width: calc(100vw - var(--content-margin));
  --content-max-height: calc(
    100vh -
      (
        (2 * var(--content-margin)) + var(--app-bar-height) +
          var(--footer-height)
      )
  );
}

@layer components {
  .content {
    -ms-overflow-style: none;
    @apply flex overflow-auto;
    @apply my-[var(--content-margin)];
    @apply max-w-[var(--content-max-width)];
    @apply max-h-[var(--content-max-height)];
  }
}
